on: workflow_dispatch

jobs:
  pypi-publish:
    name: Upload release to PyPI
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/resins
    permissions:
      id-token: write
    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0

    - uses: actions/setup-python@v6
      with:
        python-version: 3.12

    - name: build wheel, sdist
      shell: bash -l {0}
      run: |
        python -m pip install --upgrade pip
        python -m pip install build
        python -m build

    - name: Publish package distributions to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
