name: Run tests

on: [push,workflow_dispatch]

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Setup Miniconda
      uses: conda-incubator/setup-miniconda@v3.2.0
      with:
        python-version: "3.11"
        channels: conda-forge
        miniforge-version: "latest"

    - name: Install tox
      shell: bash -el {0}
      run: |
        conda activate test
        conda install tox

    - name: Test with tox
      shell: bash -el {0}
      run: |
        conda activate test
        python -m tox
